$primaryColor1: #503d35;
$primaryColor2: #78644e;
$primaryColor3: #0a0a0a;
$primaryColor4: #bba690;
$primaryColor5: #3f240d;

/* texts */

// override some bootstrap text-classes //
.text-danger {
  color: $primaryColor1 !important;
}

.text-secondary {
  color: #5a5959 !important;
}
