@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
@import 'base/variables';
@import 'components/components';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}


/* clear defaults */

a {
    text-decoration: none;
}

li {
    list-style: none;
}


/*Navbar*/

@import 'components/navbar';

/*authentication*/

@import 'components/authentication';