@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
/* texts */
.btn-primary {
  color: #fff !important;
  background: #78644e;
}

.btn-primary:focus {
  border: 2px solid #0a0a0a !important;
  color: #fff !important;
  background: #78644e;
}

.text-primary {
  color: #503d35 !important;
}

.text-secondary {
  color: #5a5959 !important;
}

.btn {
  border: 2px solid #0a0a0a;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.btn:hover {
  background: #503d35;
  color: #fff;
  border-color: #3f240d;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/* clear defaults */
a {
  text-decoration: none;
}

li {
  list-style: none;
}

/*texts*/
.super-text {
  color: #fff;
  font-size: 65px;
  letter-spacing: 0.3rem;
}

.text-title {
  margin: 0 auto;
  color: #0a0a0a;
  width: 300px;
  border-bottom: 2px solid #78644e;
}

/*Navbar*/
.main-nav {
  width: 100%;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem 0.5rem;
  -webkit-transition: 300ms ease-out;
  transition: 300ms ease-out;
}

.main-nav ul {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 1rem;
}

.main-nav ul li {
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.main-nav ul li a {
  color: #fff;
}

.main-nav ul li a:hover {
  text-decoration: none;
}

.main-nav ul li.active {
  border-bottom: 2px solid #503d35;
}

.main-nav ul li:hover {
  border-bottom: 2px solid #0a0a0a;
}

.main-nav ul li.active-home {
  border-bottom: 2px solid #fff !important;
}

.logo {
  padding-top: 5px;
  margin-right: auto;
  width: 120px;
  text-decoration: none;
}

.logo img {
  width: 100%;
  height: 100%;
}

.hamburger {
  color: #fff;
  display: none;
  cursor: pointer;
  font-size: 1.3rem;
}

.side-nav {
  position: fixed;
  background: #0a0a0a;
  top: 0;
  left: 0;
  width: 60%;
  height: 100%;
  padding: 0.5rem;
  padding-top: 80px;
  z-index: 1000;
  -webkit-animation: slideLeft 300ms ease-out;
          animation: slideLeft 300ms ease-out;
  display: none;
}

.side-nav li {
  width: 100%;
  height: 40px;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.5rem;
  border-radius: 5px;
  padding: 0.5rem 0.5rem;
}

.side-nav li a {
  width: 100% !important;
  color: #fff;
}

.side-nav li a:hover {
  text-decoration: none;
}

.side-nav li:hover {
  background: #78644e;
  padding-left: 1rem;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

.side-nav li.active {
  background: #78644e;
}

.side-nav-logo {
  position: absolute;
  top: 0;
  width: 140px;
  height: 80px;
}

.side-nav-logo img {
  width: 100px;
  height: 70px;
}

.side-nav.active {
  display: block;
}

@-webkit-keyframes slideLeft {
  0% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slideLeft {
  0% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.hero-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background: url("../img/hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
}

.wrapper.active {
  opacity: 0.5;
}

/*hero section*/
.hero {
  min-height: 50vh;
  margin-top: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 50px;
}

/* our place section */
.place {
  padding: 200px 0;
  min-height: 100vh;
  color: #503d35;
  overflow-x: hidden !important;
}

.place-container {
  margin-top: 2rem;
}

.place-container .place-image {
  width: 100%;
}

.place-title {
  margin-bottom: 50px;
}

/* our categorized menu*/
.menu {
  padding-top: 100px;
  width: 100%;
  min-height: 100vh;
  background: #78644e;
  background-size: cover;
}

.menu .text-title {
  width: 500px;
  color: #fff;
  padding-bottom: 0.5rem;
  border-color: #503d35;
  text-align: center;
}

.menu-category {
  min-height: 300px;
  border-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  box-shadow: 1px 2px 26px 0px rgba(39, 38, 38, 0.75);
  -webkit-box-shadow: 1px 2px 26px 0px rgba(39, 38, 38, 0.75);
  -moz-box-shadow: 1px 2px 26px 0px rgba(39, 38, 38, 0.75);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  text-decoration: none;
  color: #0a0a0a;
}

.menu-category i {
  font-size: 2.5rem;
  position: relative;
  top: 40%;
}

.menu-category .category-text {
  margin-top: auto;
  margin-bottom: 1rem;
}

.menu-category:hover {
  box-shadow: 1px 2px 23px 0px rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: 1px 2px 23px 0px rgba(255, 255, 255, 0.75);
  -moz-box-shadow: 1px 2px 23px 0px rgba(255, 255, 255, 0.75);
  text-decoration: none;
  color: #0a0a0a;
}

/*reservation*/
.reservation {
  width: 100%;
  min-height: 100vh;
  padding-top: 100px;
}

.reservation .text-title {
  color: #0a0a0a;
  width: 500px;
  text-align: center;
}

.reservation .reservation-form {
  background: #fff;
  margin-top: 100px;
  border-radius: 20px;
}

/*footer*/
footer {
  padding: 0 1rem;
  background: rgba(114, 41, 13, 0.52);
  background: #bba690;
  min-height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: -1;
}

footer .logo {
  z-index: 100 !important;
}

.footer-icons .icon {
  z-index: 100;
  color: black;
  font-size: 1.7rem;
  margin-right: 0.5rem;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.footer-icons .icon:hover {
  color: #fff !important;
  font-size: 1.8rem;
}

/*authentication*/
.terms {
  width: 100%;
  height: 80px;
  overflow-y: scroll;
  padding: 1rem;
  margin: 1rem 0;
  font-size: .9rem;
  background: #eee;
}

.terms-title {
  font-weight: 500;
}

.google {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.google-icon {
  color: #78644e;
}

.google:hover {
  border: 2px solid #78644e !important;
  text-decoration: none !important;
  color: #0a0a0a;
}

.google:focus {
  border: 2px solid #78644e !important;
  text-decoration: none !important;
  color: #0a0a0a;
}

.facebook {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.facebook-icon {
  color: #2a2ae0;
}

.facebook:hover {
  border: 2px solid #2a2ae0 !important;
  text-decoration: none !important;
  color: #0a0a0a;
}

.facebook:focus {
  border: 2px solid #2a2ae0 !important;
  text-decoration: none !important;
  color: #0a0a0a;
}

.authentication-icon {
  font-size: 1.5rem;
}

.register {
  margin-top: 100px;
  border-radius: 20px;
  background: #fff;
}

.login {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 20px;
  background: #fff;
  width: 500px;
}

/*Media Queries*/
@media (max-width: 900px) {
  .main-nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .main-nav ul {
    display: none;
  }
  .hamburger {
    display: block;
  }
  .about-hamburger {
    color: #0a0a0a !important;
  }
}

@media (max-width: 786px) {
  .hero-right h1 {
    text-align: center;
    font-size: 60px;
    letter-spacing: 0.5rem;
  }
  .place-btn {
    display: none;
  }
  .place-btn2 {
    display: block !important;
    z-index: 100;
  }
  .menu .text-title {
    font-size: 2rem;
    width: 300px;
  }
  .menu-category {
    margin-right: 0 !important;
  }
}

@media (max-width: 600px) {
  .hero-right h1 {
    font-size: 50px;
  }
  .menu .text-title {
    font-size: 1.7rem;
    width: 300px;
  }
  .reservation .text-title {
    font-size: 30px;
    width: 300px;
  }
  .place-title {
    font-size: 1.5rem;
    width: 300px;
    text-align: center;
  }
  .about-hamburger {
    color: #fff !important;
  }
}

@media (max-width: 400px) {
  .hero-right h1 {
    font-size: 40px;
  }
  .menu .text-title {
    font-size: 1.3rem;
    width: 200px;
  }
  .reservation .text-title {
    font-size: 27px;
    width: 250px;
  }
  .place-title {
    font-size: 1.4rem;
    width: 250px;
    text-align: center;
  }
}
/*# sourceMappingURL=main.css.map */