// override some bootstrap text-classes //
.btn {
  border: 1px solid $primaryColor3;
  transition: 0.3s ease-in-out;
}
.btn:hover {
  background: $primaryColor1;
  color: #fff;
  border-color: $primaryColor5;
}
